<a href="https://colab.research.google.com/github/crislanecas/estudos_sql/blob/main/SoulCode/02_Datahackers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Carrega o arquivo CSV em um DataFrame.
df = pd.read_csv('/content/datahackers_renomeada.csv')

# Cria uma conexão com o SQLite.
engine = create_engine('sqlite:///datahackers.db')

# Registra o DataFrame como uma tabela temporária no SQLite.
df.to_sql('datahackers', con=engine, if_exists='replace', index=False)

# Carrega a extensão ipython-sql.
%load_ext sql

# Conecta-se ao banco de dados SQLite.
%sql sqlite:///datahackers.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql

PRAGMA table_info(datahackers);

 * sqlite:///datahackers.db
Done.

[(0, 'id', 'TEXT', 0, None, 0),
 (1, 'idade', 'FLOAT', 0, None, 0),
 (2, 'faixa_idade', 'TEXT', 0, None, 0),
 (3, 'genero', 'TEXT', 0, None, 0),
 (4, 'cor_raca_etnia', 'TEXT', 0, None, 0),
 (5, 'pcd', 'TEXT', 0, None, 0),
 (6, 'exp_prof', 'TEXT', 0, None, 0),
 (7, 'aspectos_prejudicados', 'TEXT', 0, None, 0),
 (8, 'vive_brasil', 'BOOLEAN', 0, None, 0),
 (9, 'estado', 'TEXT', 0, None, 0),
 (10, 'uf', 'TEXT', 0, None, 0),
 (11, 'regiao', 'TEXT', 0, None, 0),
 (12, 'mudanca', 'BOOLEAN', 0, None, 0),
 (13, 'regiao_origem', 'TEXT', 0, None, 0),
 (14, 'nivel_ensino', 'TEXT', 0, None, 0)]

In [ ]:
%%sql

-- Pergunta de Negócio 1: Qual é a distribuição de gênero entre os participantes do estudo?
SELECT genero, COUNT(*) AS total_pessoas
FROM datahackers
GROUP BY genero;

 * sqlite:///datahackers.db
Done.

[(None, 9),
 ('Feminino', 1056),
 ('Masculino', 3194),
 ('Prefiro não informar', 12)]

In [ ]:
%%sql

-- Pergunta de Negócio 2: Qual é a distribuição de faixa etária dos participantes?
SELECT faixa_idade, COUNT(*) AS total_pessoas
FROM datahackers
GROUP BY faixa_idade;

 * sqlite:///datahackers.db
Done.

[('17-21', 152),
 ('22-24', 449),
 ('25-29', 1398),
 ('30-34', 1095),
 ('35-39', 598),
 ('40-44', 277),
 ('45-49', 145),
 ('50-54', 89),
 ('55+', 68)]

In [ ]:
%%sql

--Pergunta de Negócio 3: Quantas pessoas têm alguma deficiência (PcD)?
SELECT COUNT(*) AS total_pcd
FROM datahackers
WHERE pcd = 'Sim';

 * sqlite:///datahackers.db
Done.

[(54,)]

In [ ]:
%%sql

-- Pergunta de Negócio 4: Qual é a distribuição de raça/etnia dos participantes?
SELECT cor_raca_etnia, COUNT(*) AS total_pessoas
FROM datahackers
GROUP BY cor_raca_etnia;

 * sqlite:///datahackers.db
Done.

[('Amarela', 128),
 ('Branca', 2744),
 ('Indígena', 11),
 ('Outra', 17),
 ('Parda', 1054),
 ('Prefiro não informar', 26),
 ('Preta', 291)]

In [ ]:
%%sql

-- Pergunta de Negócio 5: Qual é a distribuição de nível de ensino dos participantes?
SELECT nivel_ensino, COUNT(*) AS total_pessoas
FROM datahackers
GROUP BY nivel_ensino;

 * sqlite:///datahackers.db
Done.

[('Doutorado ou Phd', 191),
 ('Estudante de Graduação', 613),
 ('Graduação/Bacharelado', 1510),
 ('Mestrado', 521),
 ('Não tenho graduação formal', 110),
 ('Prefiro não informar', 12),
 ('Pós-graduação', 1314)]