<a href="https://colab.research.google.com/github/crislanecas/estudos_sql/blob/main/SoulCode/03_Olimp%C3%ADadas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Carrega o arquivo CSV em um DataFrame
df = pd.read_csv('/content/olympics_medals.csv')

# Cria uma conexão com o SQLite
engine = create_engine('sqlite:///olympics_medals.db')

# Registra o DataFrame como uma tabela temporária no SQLite
df.to_sql('olympics_medals', con=engine, if_exists='replace', index=False)

# Carrega a extensão ipython-sql
%load_ext sql

# Conecta-se ao banco de dados SQLite
%sql sqlite:///olympics_medals.db

In [ ]:
%%sql

PRAGMA table_info(olympics_medals);

 * sqlite:///olympics_medals.db
Done.

[(0, 'countries', 'TEXT', 0, None, 0),
 (1, 'ioc_code', 'TEXT', 0, None, 0),
 (2, 'summer_participations', 'BIGINT', 0, None, 0),
 (3, 'summer_gold', 'BIGINT', 0, None, 0),
 (4, 'summer_silver', 'BIGINT', 0, None, 0),
 (5, 'summer_bronze', 'BIGINT', 0, None, 0),
 (6, 'summer_total', 'BIGINT', 0, None, 0),
 (7, 'winter_participations', 'BIGINT', 0, None, 0),
 (8, 'winter_gold', 'BIGINT', 0, None, 0),
 (9, 'winter_silver', 'BIGINT', 0, None, 0),
 (10, 'winter_bronze', 'BIGINT', 0, None, 0),
 (11, 'winter_total', 'BIGINT', 0, None, 0),
 (12, 'total_participation', 'BIGINT', 0, None, 0),
 (13, 'total_gold', 'BIGINT', 0, None, 0),
 (14, 'total_silver', 'BIGINT', 0, None, 0),
 (15, 'total_bronze', 'BIGINT', 0, None, 0),
 (16, 'total_total', 'BIGINT', 0, None, 0)]

In [ ]:
%%sql

-- Qual o país com mais medalhas em geral?
SELECT
  countries,
  SUM (total_total) AS total_total_medalhas
FROM olympics_medals
GROUP BY countries
ORDER BY total_total_medalhas DESC
LIMIT 5;

 * sqlite:///olympics_medals.db
Done.

[('United States', 2959),
 ('Soviet Union', 1204),
 ('Great Britain', 950),
 ('Germany', 922),
 ('France', 889)]

In [ ]:
%%sql

-- Qual o país com mais medalhas de verão?
SELECT
  countries,
  SUM (summer_total) AS summer_total_medalhas
FROM olympics_medals
GROUP BY countries
ORDER BY summer_total_medalhas DESC
LIMIT 5;

 * sqlite:///olympics_medals.db
Done.

[('United States', 2629),
 ('Soviet Union', 1010),
 ('Great Britain', 916),
 ('France', 751),
 ('Germany', 655)]

In [ ]:
%%sql

-- Qual o país com mais medalhas de inverno?
SELECT
  countries,
  SUM (winter_total) AS winter_total_medalhas
FROM olympics_medals
GROUP BY countries
ORDER BY winter_total_medalhas DESC
LIMIT 5;

 * sqlite:///olympics_medals.db
Done.

[('Norway', 405),
 ('United States', 330),
 ('Germany', 267),
 ('Austria', 250),
 ('Canada', 225)]

In [ ]:
%%sql

-- Qual o país com mais medalhas de ouro?
SELECT
  countries,
  SUM (total_gold) AS total_gold_medalhas
FROM olympics_medals
GROUP BY countries
ORDER BY total_gold_medalhas DESC
LIMIT 5;

 * sqlite:///olympics_medals.db
Done.

[('United States', 1173),
 ('Soviet Union', 473),
 ('Germany', 305),
 ('Great Britain', 296),
 ('China', 284)]

In [ ]:
%%sql

-- Qual o país com mais participações?
SELECT
  countries,
  SUM (total_participation) AS total_participation_medalhas
FROM olympics_medals
GROUP BY countries
ORDER BY total_participation_medalhas DESC
LIMIT 5;

 * sqlite:///olympics_medals.db
Done.

[('Switzerland', 53),
 ('Great Britain', 53),
 ('France', 53),
 ('United States', 52),
 ('Sweden', 52)]