<a href="https://colab.research.google.com/github/crislanecas/estudos_sql/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install ipython-sql

In [2]:
%load_ext sql

In [ ]:
# %sql sqlite://

In [3]:
%sql sqlite:///mydb.db

In [4]:
%%sql

-- Cria a tabela CLIENTE:

CREATE TABLE CLIENTE (
    CLIENTE_ID INTEGER PRIMARY KEY,
    NOME TEXT NOT NULL,
    EMAIL TEXT NOT NULL UNIQUE,
    TELEFONE TEXT NOT NULL UNIQUE
);

 * sqlite:///mydb.db
Done.

[]

In [6]:
%sql SELECT * FROM CLIENTE;

 * sqlite:///mydb.db
Done.

[]

In [7]:
%%sql

-- Insere dados na tabela CLIENTE

INSERT INTO CLIENTE (NOME, EMAIL, TELEFONE)
VALUES
    ('Leonardo' , 'leonardo@gmail.com', '9999-9999' ),
    ('Rafael' , 'rafael@gmail.com', '9889-8998' ),
    ('Michelangelo' , 'michelangelo@gmail.com', '9997-7999' ),
    ('Donatello' , 'donatello@gmail.com', '9777-7779' );

 * sqlite:///mydb.db
4 rows affected.

[]

In [8]:
%%sql

-- Consulta os dados da tabela CLIENTE

SELECT * FROM CLIENTE

 * sqlite:///mydb.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779')]